<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <title>Words</title>
</head>
<body>
  <div class="container">
    <h1>Words</h1>
    <div class="row" th:each="word : ${words}">
      <div class="nine columns">
        <form th:method="put" th:action="@{/}">
          <input type="hidden" name="id" th:value="${word.id}" />
          <input type="hidden" name="category" th:value="${word.wordCategory}" />
          <span th:text="${word.word}" class="five columns"></span>
          <span th:text="${word.wordCategory}"></span>
        </form>
      </div>

    </div>
    <hr />
	<form method="post" th:action="@{/}" th:object="${newWord}">
      <div class="row">
        <div class="nine columns">
          <input type="text" placeholder="Word" class="six columns" th:field="*{word}" />
          <input type="text" placeholder="Word Category" class="six columns" th:field="*{wordCategory}" />
        </div>
        <div class="three columns">
          <button type="submit" class="button-primary u-full-width">Add</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>